@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

body {
  font-family: "Krona One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg, #00eeff, #ff0088);
  overflow: hidden;
}

h1 {
  display: inline-block;
  margin: 50px auto;
  padding: 5px;
  letter-spacing: 5px;
  font-size: 4rem;
  border-bottom: 5px solid black;
  text-shadow: -2px -2px 2px rgba(255, 255, 255, 1);
}

h2 {
  letter-spacing: 10px;
  font-size: 1.6rem;
  margin-top: 50px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}

h3 {
  font-size: 1rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}

.label1 {
  margin-right: 10px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}

.label2 {
  margin-left: 10px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}

input {
  cursor: pointer;
  border-radius: 5px;
}

.color1:hover {
  background-color: #000;
  transition: ease-in-out 200ms;
}

.color2:hover {
  background-color: #000;
  transition: ease-in-out 200ms;
}

.degrees-text {
  font-size: 0.9rem;
  margin-top: 50px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}

.degrees-input {
  width: 70px;
  border: 3px solid #000;
  text-align: center;
  font-weight: 700;
}

.degrees-input::-webkit-input-placeholder {
  opacity: 0.4;
}

.go {
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #000;
  font-weight: 700;
  margin-left: 2px;
}

.go:hover {
  border: 3px solid #fff;
  transition: ease-in-out 200ms;
}

.degrees-input:hover {
  background-color: #fff;
  transition: ease-in-out 200ms;
}

/* MEDIA QUERIES */

@media (max-width: 915px) {
  body {
    display: block;
  }
  h1 {
    font-size: 3rem;
    margin: 40px 10px 80px 10px;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .degrees-text {
    margin-top: 40px;
  }

  h3 {
    margin: 40px 10px;
  }
}
